*filter
:INPUT ACCEPT [2:104]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [2:204]
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p tcp -m multiport --dports 22 -m comment --comment "allow ssh incoming" -j ACCEPT
{% for node in groups['controllers'] %}
- A INPUT -s {{ hostvars[node][ 'ansible_' + private_if ].ipv4.address }}/32 --dports 4789 -m comment --comment "neutron tunnel port incoming neutron_tunnel_{{ hostvars[node][ 'ansible_' + private_if ].ipv4.address }}_{{ hostvars[inventory_hostname][ 'ansible_' + private_if ].ipv4.address }}" -j ACCEPT
{% endfor %}
{% for node in groups['controllers'] %}
- A INPUT -s {{ hostvars[node][ 'ansible_' + private_if ].ipv4.address }}/32 --dports 5900:5999 -m comment --comment "vnc incoming" -j ACCEPT
{% endfor %}
{% for node in groups['compute'] %}
- A INPUT -s {{ hostvars[node][ 'ansible_' + private_if ].ipv4.address }}/32 --dports 16509,49152:49215 -m comment --comment "001 nova qemu migration incoming nova_qemu_migration" -j ACCEPT
{% endfor %}
-A INPUT -p tcp -m multiport --dport 8443,8081,6611,9011,7072,9099 -m comment --comment "scaleio incoming" -j ACCEPT
-A INPUT -p udp -m multiport --dport 162 -m comment --comment "scaleio incoming" -j ACCEPT
-A INPUT -j REJECT --reject-with icmp-host-prohibited
COMMIT
